<div class="container" id="login-top">

    <div class="loginButton">
        <h6 id="username" style= "color:#ffffff; float: right"> </h6>
                <!--a href="/login" id="loginScreen">Login</a-->
                <button type= "button" style="text-align: left; margin-top;" class="login-button" id="loginScreen">Login</button>
                <button type= "button" style="text-align: left; margin-top" class="logout-button" id="logout">Logout</button>
                    <!--span class="facebookLogin" style="float:left; height:10px">
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </span>
                <div class="loginName"></div-->
    </div>
    <!--div class="logoutButton" style = "text-align :right; margin-top">
        <button type= "button" class="logout-button" id="logout">Logout</button>
    </div-->
</div>


<!-- hidden login form-->
<div class="container" id="login-form">
    <form action="/login" method="get" id="login">
        <div class="form-group">
            <h3>Username:</h3>
            <input type="text" class="form-control" placeholder="Username" name="Name">
        </div>
        <div class="form-group">
            <h3>Password</h3>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class ="facebookLogin">
            <span class="facebookLogin" style="float:right; height:10px">
                <fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button>
            </span>
        </div>
        <button type="submit" class="btn btn-primary" id="submit-login">Login</button>
        <button type="submit" class="btn btn-default" id="cancel-login">Cancel</button>
    </form>
    <div class="loginName"></div>
    </div>

    <!--span class="facebookLogin" style="float:left; height:10px">
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>
    </span>
<div class="loginName"></div-->

    <!-- hidden Logout form-->
    <div class="container" id="logout-form">
        <form action="/logout" method="get" id="logout">
</div>
