<!doctype html>

<html>
<head>
	<title>Progress Calendar Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>
	<div class="container">
			<a href="#" style="float:right">Login</a>
		<div class ="facebookLogin">
			<p class="facebookLogin">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</p>
		</div>

		<div>
			<h1>
				<a href="stats" style="float:left" id="statsScreen" aria-label="Stats Screen">
					<span class="glyphicon glyphicon-dashboard" aria-hidden="true">
				</a>
  				<a href="/addTask" id="addScreen" style="float:right" aria-label="Add Task">
  				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  			  </a>
			  <div style="text-align:center;">
				<span id="backButton" style="margin-left:10px;" onclick="backButtonClick()" aria-label="Previous Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  </span>
				<span id="currentMonth"> </span>
				<span id="forwardButton" style="margin-right:10px;"onclick="forwardButtonClick()" aria-label="Next Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  </span>
		  </div>
		</h1>
		</div>
	</div>
	<div class="container">
		<div class="calendarLayout" style="overflow-x:auto;">
				<p>
					<table id="calendar">
						<tr id="daysOfWeek">
							<th id = "sunday">Sun</th>
							<th id ="monday">Mon</th>
							<th id = "tuesday">Tues</th>
							<th id = "wednesday">Wed</th>
							<th id = "thursday">Thurs</th>
							<th id = "friday">Fri</th>
							<th id = "saturday">Sat</th>
						</tr>
						<tr id = "calendarFillDays">
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>31</td>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr id = "calendarFillDays">
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
						</tr>
						<tr id = "calendarFillDays">
							<td>10</td>
							<td>11</td>
							<td>12</td>
							<td>13</td>
							<td>14</td>
							<td>15</td>
							<td>16</td>
						</tr>
						<tr id = "calendarFillDays">
							<td>17</td>
							<td>18</td>
							<td>19</td>
							<td>20</td>
							<td>21</td>
							<td>22</td>
							<td>23</td>
						</tr>
						<tr id = "calendarFillDays">
							<td>24</td>
							<td>25</td>
							<td>26</td>
							<td>27</td>
							<td>28</td>
							<td>1</td>
							<td>2</td>
						</tr>
						<tr id = "calendarFillDays">
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
						</tr>
					</table>
				</p>
		</div>
		<div class="calendarList" style="overflow-x:auto;">
				<p class = "addTask">
					<table id="listView">
						<tr id="listTitles">
							<th><span id="currentDay"></span></th>
							<th></th>
							<th></th>
							<th>Streak</th>
						</tr>
						<tr id = "assignmentList">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								History Essay
							</td>
							<td style="float:right">Due 2/5/19</td>
							<td>
								<a href="/editTask" style="float:right" id="statsScreen" aria-label="Edit Tasks">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</a>
							</td>
							<td>1</td>
						</tr>
						<tr id = "assignmentList">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								Cogs 120 A5
							</td>
							<td style="float:right">Due 2/7/19</td>
							<td>
								<a href="/editTask" style="float:right" id="statsScreen" aria-label="Edit Tasks">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</a>
							</td>
							<td>4</td>
						</tr>
						<tr id = "assignmentList">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								Cogs 108 A2
							</td>
							<td style="float:right">Due 2/10/19</td>
							<td>
								<a href="/editTask" style="float:right" id="statsScreen" aria-label="Edit Tasks">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</a>
							</td>
							<td>3</td>
						</tr>
						<tr id = "assignmentList">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								EDS Week 5
							</td>
							<td style="float:right">Due 2/17/19</td>
							<td>
								<a href="/editTask" style="float:right" id="statsScreen" aria-label="Edit Tasks">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</a>
							</td>
							<td>0</td>
						</tr>
					</table>
				</p>
		</div>
	</div>
</body>
</html>
