<!doctype html>

<html>
<head>
	<title>Progress Calendar Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<link href="/css/fullcalendar.css" rel="stylesheet">
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="/js/fullcalendar.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script defer src="/js/all.js"></script>
	<script src="/js/index.js"></script>


</head>

<body>
	<!-- login -->
	<div class="container">
			<a href="/login" style="margin-left:88%; margin-top:5%" class="loginButton" id="loginScreen" >Login</a>
	</div>
	<div class="container">
	<div class="titleHeader">
	<!--div class ="facebookLogin">
		<p class="facebookLogin" style="margin-left:83%; margin-top: 3%;">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</p>
	</div>
	<div class="loginName"></div -->
		<div>
			<h1 style="text-align:center;">
				<a href="stats" style="float:left" id="statsScreen" aria-label="Stats Screen">
					<i class="fas fa-chart-pie"></i>
				</a>
				Progress
  				<a href="/addTask" id="addScreen" style="float:right" aria-label="Add Task">
  				  <i class="fas fa-plus"></i>
  			  </a>
			  <!--
			  <div style="text-align:center;">
				<span id="backButton" style="margin-left:10px;" onclick="backButtonClick()" aria-label="Previous Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  </span>
				<span id="currentMonth"> </span>
				<span id="forwardButton" style="margin-right:10px;"onclick="forwardButtonClick()" aria-label="Next Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  </span>
		  </div>
	  -->
		</h1>
		</div>
	</div>
	<!-- calendar + project list -->
		<!-- calendar -->
		<!-- <div class="calendarLayout" style="overflow-x:auto;">
				<p>
					<table id="calendar">
						<tr id="daysOfWeek">
							<th id = "sunday">Sun</th>
							<th id ="monday">Mon</th>
							<th id = "tuesday">Tues</th>
							<th id = "wednesday">Wed</th>
							<th id = "thursday">Thurs</th>
							<th id = "friday">Fri</th>
							<th id = "saturday">Sat</th>
						</tr>
						<tr id = "calendarFillDays">
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>31</td>
							<td>1</td>
							<td>2</td>
						</tr>
					</table>
				</p>
		</div> -->

		<!-- NEW CALENDAR, NEED TO STYLE -->
		<div id="calendar"></div>

		<!-- project list -->
		<div class="calendarList" style="overflow-x:auto;">
				<p class = "addTask">
					<table id="listView">
						<tr id="listTitles">
							<th><span id="currentDay"></span></th>
							<th></th>
							<th>Due</th>
							<th><i class="fa fa-bolt" aria-hidden="true"></i></th>
						</tr>
						{{#each projectList}}
						<tr id = "assignmentList" style=" border-bottom: 1px solid #ddd;">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								{{name}}
							</td>
							<td>
								<a href="/editTask" style="float:right" class="editScreen" aria-label="Edit Tasks">
									<i class="fas fa-edit"></i>
								</a>
							</td>
							<td style="float:right; color:#d4d7db;">{{dueDate}}</td>

							<td style="text-align:center;">1</td>
						</tr>
						{{/each}}
					</table>
				</p>
		</div>
	</div>



	<!-- hidden add form -->
	<div class="container" id="add-form">
		<form action="/addTask" method="get" id="adding">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" class="form-control" placeholder="Project name" name="projectName">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
				<input type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Due date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-project">Add Project</button>
			<button type="submit" class="btn btn-default" id="cancel-add">Cancel</button>
		</form>
	</div>

	<!-- hidden edit form -->
	<div class="container" id="edit-form">
		<form action="/editTask" method="get" id="editing">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" class="form-control" placeholder="Project name" name="projectName">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
				<input type="date" data-date-format="MM DD YYYY" class="form-control" placeholder="Due date" name="dueDate">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-edit">Edit Project</button>
			<button type="submit" class="btn btn-default" id="cancel-edit">Cancel</button>
		</form>
	</div>
	<!-- hidden login form
	<div class="container" id="login-form">
		<form action="/login" method="get" id="login">
			<div class="form-group">
				<h3>Username:</h3>
				<input type="text" class="form-control" placeholder="Username" name="Name">
			</div>
			<div class="form-group">
				<h3>password</h3>
				<input type="password" class="form-control" placeholder="Password" name="password">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-login">Login</button>
			<button type="submit" class="btn btn-default" id="cancel-login">Cancel</button>
		</form>
	</div>
-->
</body>
</html>
