<!doctype html>

<html>
<head>
	<title>Progress Calendar Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/calendar.css" rel="stylesheet">
	<!-- <link href="/css/calendarview.css" rel="stylesheet"> -->
	<link href="/css/main.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="http://momentjs.com/downloads/moment.js"></script>
	<script src="/js/fullcalendar.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="/js/prototype.js"></script>
	<script src="/js/calendarview.js"></script>
	<script type="text/javascript">
		window.onload = function() {
		  Calendar.setup({
			dateField     : 'date',
			parentElement : 'calendar'
		  })
		}
    </script> -->
	<script src="/js/index.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>

</head>

<body>
	<!-- login -->
	<div class="container">
			<!--a href="/login" style="float:right" >Login</a-->
		<div class ="facebookLogin">
			<p class="facebookLogin" style="margin-left:80%; margin-top: 3%;">
				<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</p>
		</div>

		<div>
			<h1 style="text-align:center;">
				<a href="stats" style="float:left" id="statsScreen" aria-label="Stats Screen">
					<span class="glyphicon glyphicon-dashboard" aria-hidden="true">
				</a>
				Progress
  				<a href="/addTask" id="addScreen" style="float:right" aria-label="Add Task">
  				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  			  </a>
			  <!--
			  <div style="text-align:center;">
				<span id="backButton" style="margin-left:10px;" onclick="backButtonClick()" aria-label="Previous Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  </span>
				<span id="currentMonth"> </span>
				<span id="forwardButton" style="margin-right:10px;"onclick="forwardButtonClick()" aria-label="Next Month">
				  <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  </span>
		  </div>
	  -->
		</h1>
		</div>
	</div>

	<!-- calendar + project list -->
	<div class="container">
		<!-- calendar -->
		<!-- <div class="calendarLayout" style="overflow-x:auto;">
				<p>
					<table id="calendar">
						<tr id="daysOfWeek">
							<th id = "sunday">Sun</th>
							<th id ="monday">Mon</th>
							<th id = "tuesday">Tues</th>
							<th id = "wednesday">Wed</th>
							<th id = "thursday">Thurs</th>
							<th id = "friday">Fri</th>
							<th id = "saturday">Sat</th>
						</tr>
						<tr id = "calendarFillDays">
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>31</td>
							<td>1</td>
							<td>2</td>
						</tr>
					</table>
				</p>
		</div> -->

		<!-- NEW CALENDAR, NEED TO STYLE -->
		<div id="calendar"></div>

		<!-- project list -->
		<div class="calendarList" style="overflow-x:auto;">
				<p class = "addTask">
					<table id="listView">
						<tr id="listTitles">
							<th><span id="currentDay"></span></th>
							<th></th>
							<th></th>
							<th>Streak</th>
						</tr>
						<tr id = "assignmentList">
							<td><input type="checkbox" name="taskCheckbox" />&nbsp;
								History Essay
							</td>
							<td style="float:right">Due 2/5/19</td>
							<td>
								<a href="/editTask" style="float:right" id="statsScreen" aria-label="Edit Tasks">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">
								</a>
							</td>
							<td>1</td>
						</tr>
					</table>
				</p>
		</div>
	</div>



	<!-- hidden add form -->
	<div class="container" id="add-form">
		<form action="#" method="post" id="adding">
			<div class="form-group">
				<h3>Project Name:</h3>
				<input type="text" class="form-control" placeholder="Project name" name="project-name">
			</div>
			<div class="form-group">
				<h3>Due Date:</h3>
				<input type="text" class="form-control" placeholder="Due date" name="due-date">
			</div>
			<button type="submit" class="btn btn-primary" id="submit-project">Add Project</button>
			<button type="submit" class="btn btn-default" id="cancel-add">Cancel</button>
		</form>
	</div>

</body>
</html>
