<!doctype html>

<html>
<head>
	<title>Progress Login Screen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link href="/css/stats.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/index.js"></script>
	<script defer src="/js/all.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>
</head>

<body>
	<div class ="facebookLogin">
		<p class="facebookLogin" style="margin-left:80%; margin-top: 3%;">
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
		</p>
	</div>
	<div class="loginName"></div>
	</div>
	<div class="container">
		<div class="titleHeader">
			<h1 id="loginName">
				<a href="/calendar" style="float:left">
		          <i class="fas fa-calendar-alt"></i>
		        </a>
				Login
			</h1>
		</div>
			<h2 style="float:left">

    		<form id="loginForm" role="form" method="get" action="/login">
				<!--<form action="/login" method="get" id="adding"> -->
   		    <div class="form-group">
    		      <label for="name">Username:</label>
    		      <input type="text" class="form-control" id="userName" placeholder="Username" name="name">
    		    </div>
    		    <div class="form-group">
    		      <label for="password">Password:</label>
    		      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    		    </div>
			</form>
			<form action="/calendar" method="get" role="form" id="submitLogin">
    		    <input type="submit" id="submitBtn" class="btn btn-default" value="Login" onclick="changeLogin()"> </input>
    		</form>

			</h2>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
