.calendar{
    position: relative;
    background: none;
    text-align: center;
}

.calendar year{

}

.calendar month{

}

.calendar day{

}

.calendar a{

}

span.glyphicon {
  font-size:1.2em
}

.btn{
  background-color: transparent;
  border-color: #ccc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}
