.calendar{
    position: relative;
    background: none;
    text-align: center;
}

.calendar year{

}

.calendar month{

}

.calendar day{

}

.calendar a{

}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right{
    font-size: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
