.jumbotron {
	position: relative;
	background: none;
	text-align: center;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

#progress {
	font-family: 'Sniglet', cursive;
	/* color: #4286f4; */
}

.container {
	font-family: 'Sniglet', cursive;
}

.fontChange {
	font-family: 'Sniglet', cursive;
}

/* #listView {
	font-family: 'Rock Salt', cursive;
} */

#add-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f4f4f4;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#add-formB {
	display: none;
	/* width: 50%; */
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f4f4f4;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#edit-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#delete-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f4f4f4;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#delete-formB {
	display: none;
	/* width: 50%; */
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f4f4f4;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#login-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #f4f4f4;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

/* .titleHeader{
	background-color: #ced5e0;
	text-align: center;
	padding: 5px;
} */

#project-bottom-A{
	overflow-y: scroll;
	height: 180px;
}
#project-bottom-B{
	overflow-y: scroll;
	height: 300px;
}

#login-top{
	padding: 10px;
}

.top-hr{
	margin: 1px;
}

.mid-hr{
	margin: 10px;
}

.fc-body .fc-row{
	height: 4.5em;
}

.fc-past {
	background-color: #eeeeee;
}

.calendar-top.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}

.login-top.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}

.project-bottom.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}

.button{
	color: black;
}


/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
