.jumbotron {
	position: relative;
	background: none;
	text-align: center;
}

.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.jumbotron p {
     color: #6e6e6e;
}

#add-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

#edit-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}
#login-form {
	display: none;
	/* width: 50%; */
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #ffffff;
	position: relative;
	box-sizing: border-box;
	margin: auto;
	top: -475px;
	z-index:2;
}

/* .titleHeader{
	background-color: #ced5e0;
	text-align: center;
	padding: 5px;
} */

#project-bottom{
	overflow-y: scroll;
	height: 200px;
}

.fc-body .fc-row{
	height: 4.5em;
}

.fc-past {
	background-color: #eeeeee;
}

.calendar-top.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}

.login-top.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}

.project-bottom.blur{
filter: 'blur(4px)';
-webkit-filter: 'blur(4px)';
}
